.git
.gradle
**/build
!order-service/build/
!order-service/build/libs/
!order-service/build/libs/*.jar
!inventory-service/build/
!inventory-service/build/libs/
!inventory-service/build/libs/*.jar
!payment-service/build/
!payment-service/build/libs/
!payment-service/build/libs/*.jar
!delivery-service/build/
!delivery-service/build/libs/
!delivery-service/build/libs/*.jar
!notification-service/build/
!notification-service/build/libs/
!notification-service/build/libs/*.jar
**/.idea
**/.vscode
.env
AGENTS.md
