server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/donowhy/Real-Estate-Transaction-Review.git
          search-paths: config-service/src/main/resources/config-repo
          default-label: main
